################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/x64/Debug
/x64/Release
/.vs
/Gleam.VC.VC.opendb
/Gleam.VC.db
/bin
*.vcxproj.user