################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/x64/Debug
/.vs/Gleam/v14
/Gleam.vcxproj.user
/Gleam.vcxproj.filters
/Gleam.vcxproj
/Gleam.VC.VC.opendb
/Gleam.VC.db
/Gleam.sln
/samples
